.HeaderBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  /* background-color: white; */
  width: 100%;
  height: 300px;
}

.HeaderTopBox {
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  height: 150px;
}

.SignOut {
  /* background-color: blue; */
  /* width: 150px; */
  /* height: 50%; */
  margin: 10px 10px 0 0;
}

.Email {
  /* display: inline-block; */
  color: #FFF;
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;}

.SignOutButton {
  border-radius: 5px;
  background-color: #676767;
  width: 100px;
  height: 35px;
  margin: 0 0 0 20px;
  
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.SignOutButton:hover {
  cursor: pointer;
}

.HeaderMiddleBox {
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: lightyellow;
}

.UserName {
  background-color: lightblue;
  width: 50%;
}

.CurEvent {
  background-color: lightgreen;
  width: 50%;
}