.Container {
	background-color: #000000bf;
	border-radius: 50px;
	padding: 40px;
	font-family: 'Inter';
	font-weight: bold;
	font-size: 40px;
	color: #ffffff;
	margin: 0 20px 30px 20px;
}

.Container:hover {
	/* animate elevation and upward transition */
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	transition: 0.2s;
	transform: translateY(-4px);
	background-color: #000000d0;
}

.Container > * {
	font-size: 20px;
}

.TableContainer {
	margin-top: 20px;
	overflow-y: auto;
	max-height: 700px;
	font-size: 20px;
}

.TableContainer table {
	table-layout: fixed;
	width: 100%;
}

.TableContainer th {
	position: sticky;
	top: 0;
	text-align: left;
	background: #000000;
	padding-bottom: 15px;
}

.TableContainer td {
	color: #c9a76b;
	padding-bottom: 15px;
}

.Description {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 1rem;
	color: #535353;
	padding-bottom: 10px;
}

.Placeholder {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	font-size: 20px;
	color: #ffffff80;
}

.TeamActionContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.TeamActionContainer > * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.TeamInput {
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.TeamInput > button {
	margin: 10px auto;
	width: 100%;
}

.TeamButtonContainer {
	display: flex;
	align-items: center;
	margin: 20px 0 0 0;
	gap: 20px;
}

.TeamContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.TeamRow {
	display: flex;
	flex-direction: row;
}

.TeamRowLabel {
	width: 250px;
}

.TeamRowValue,
.TeamListValue {
	color: #c9a76b;
}

/* add media query for mobile screen */
@media (max-width: 768px) {
	.TeamActionContainer {
		flex-direction: column;
	}

	/* second children of TeamActionContainer */
	.TeamActionContainer > div:nth-child(2) {
		margin: 20px;
	}

	.Container {
		font-size: 20px;
	}

	.TableContainer {
		font-size: 15px;
	}

	.Container > * {
		padding: 10px 0;
	}

	.Placeholder {
		font-size: 15px;
	}

	.TeamButtonContainer {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 20px 0 0 0;
	}

	.TeamRow {
		flex-direction: column;
		padding-bottom: 20px;
	}

	.TeamListValue {
		color: #c9a76b;
		font-size: 12px;
	}
}
