.Container {
    background-color: #000000BF;
    border-radius: 50px;
    padding: 45px 42px;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 70px;
    color: #FFFFFF;
}

.Table {
    font-size: 40px;
}

.Table:after {
    content: "";
    display: table;
    clear: both;
}

.ColumnHeader {
    float: left;
    width: 33%;
}

.Column {
    float: left;
    width: 33.33%;
}

.Entries {
    overflow-y: auto;
    height: 700px;
}

.Entry {
    color: #C9A76B;
}

.Placeholder {
    font-size: 90px;
    color: #FFFFFF80;
}