.Form {
	background-color: rgba(0, 0, 0, 0.5);
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border-radius: 40px;
	padding: 2em 5em;
	width: 70%;
	margin: auto;
	color: white;
}

.SubmittedForm {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 40px;
	width: 60%;
	text-align: center;
	margin: auto;
	color: white;
}

.TitleLogo {
	height: 200px;
	margin: auto;
	background-image: url('/vh-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.TitleContainer {
	display: flex;
	justify-content: center;
}

.Title {
	color: white;
	font-size: 2.5rem;
	font-weight: 550;
	margin-bottom: 1rem;
	text-align: center;
	width: 300px;
}

.SignedInStatus {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.Label {
	color: white;
	font-weight: bold;
	font-size: medium;
	white-space: break-spaces;
}

.Input {
	background-color: rgba(117, 116, 116, 0.7);
	border-radius: 15px;
	border: 0;
	height: 40px;
	font-size: large;
	color: white;
}

.InputAddress {
	display: flex;
}

.InputCity {
	width: 90%;
}

.InputState {
	width: 80%;
}

.InputZip {
	width: 80%;
}

.ThankYouMessage {
	margin: auto;
	padding: 5%;
	font-size: 18px;
	width: 70%;
}
.SignInInfo {
	width: 100%;
	margin-top: 25px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SubmitButton {
	margin-bottom: 60px;
	border-radius: 10px;
	background-color: rgba(100, 100, 100, 0.3);
	border-color: gray;
}

.SubmitButton:hover {
	background-color: rgba(100, 100, 100, 0.5);
	border-color: gray;
}

/* add media query for ipad screen */
@media (max-width: 1024px) {
	.Form {
		padding: 2em;
	}
}

/* add media query for mobile screen */
@media (max-width: 768px) {
	.Form {
		padding: 4em;
		width: 100%;
		font-size: xx-small;
		margin-top: 50px;
	}
	.Title {
		margin-bottom: 0;
		height: 100px;
	}
	.InputAddress {
		display: block;
	}
	.InputCity {
		width: 100%;
	}
	.InputState {
		width: 100%;
	}
	.InputZip {
		width: 100%;
	}
	.Submit {
		width: 200px;
		height: 100px;
	}
	.Col {
		max-width: 100%;
	}
	.Submit:hover {
		width: 300px;
	}
	.SubmittedForm {
		width: 90%;
	}
	.ThankYouMessage {
		font-size: 12px;
		width: 90%;
	}
	.SignInInfo {
		font-size: 10px;
	}
}
