.manageUserPrimaryLabel-light {
	height: 50px;
	color: black;
	font-weight: 600;
}

.manageUserPrimaryLabel-dark {
	height: 50px;
	color: white;
	font-weight: 600;
}

.manageUserSubmitButton {
	border-radius: 10px;
	border: none;
	font-weight: 600;
	padding: 6px 10px;
	transition: 0.2s;
	color: #ffffff;
	font-size: 14px;
}

.manageUserSubmitButton:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	transition: 0.2s;
	transform: translateY(-2px);
}

.manageUserClearButton {
	border-radius: 10px;
	background-color: rgb(157, 157, 157);
	border: none;
	font-weight: 600;
	padding: 6px 10px;
	transition: 0.2s;
	color: #ffffff;
	font-size: 14px;
}

.manageUserClearButton:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	transition: 0.2s;
	transform: translateY(-2px);
	cursor: pointer;
}
