.tab {
	height: 100%;
	width: 100%;
}

@media (min-width: 601px) {
	.organizerTitle-light {
		font-size: 40px;
		font-weight: 800;
		margin: 0;
		text-align: left;
	}

	.organizerTitle-dark {
		font-size: 40px;
		font-weight: 800;
		margin: 0;
		color: #fff;
		text-align: left;
	}

	.organizerHeader-light {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.organizerHeader-dark {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}

	.organizerHeaderEmail-light {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.organizerHeaderEmail-dark {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.organizerButton-light {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		margin-left: 20px;
		padding: 6px 10px;
		transition: 0.2s;
		color: #ffffff;
	}

	.organizerButton-dark {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		margin-left: 20px;
		padding: 6px 10px;
		transition: 0.2s;
		color: #ffffff;
	}
}

@media (max-width: 600px) {
	.organizerTitle-light {
		font-size: 30px;
		font-weight: 800;
		margin: 0;
		text-align: center;
		padding-bottom: 5px;
	}

	.organizerTitle-dark {
		font-size: 30px;
		font-weight: 800;
		margin: 0;
		color: #fff;
		text-align: center;
		padding-bottom: 5px;
	}

	.organizerHeader-light {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.organizerHeader-dark {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	.organizerHeaderEmail-light {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.organizerHeaderEmail-dark {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.organizerButton-light {
		border-radius: 5px;
		border: none;
		font-weight: 600;
		padding: 4px 6px;
		transition: 0.2s;
		color: #ffffff;
		margin-top: 10px;
	}

	.organizerButton-dark {
		border-radius: 5px;
		border: none;
		font-weight: 600;
		padding: 4px 6px;
		transition: 0.2s;
		color: #ffffff;
		margin-top: 10px;
	}
}

.organizerHeaderEmailText-light {
	padding-left: 10px;
	font-size: 14px;
	font-weight: 800;
	color: #000;
}

.organizerHeaderEmailText-dark {
	padding-left: 10px;
	font-size: 14px;
	font-weight: 800;
	color: #fff;
}

.organizerButton-light:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	transition: 0.2s;
	transform: translateY(-2px);
}

.organizerButton-dark:hover {
	cursor: pointer;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.4);
	transition: 0.2s;
	transform: translateY(-2px);
}
