@media (min-width: 1001px) {
	.reportContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 50%;
	}

	.reportButton {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		margin-left: 20px;
		padding: 6px 10px;
		transition: 0.2s;
		color: #444444;
	}

	.reportTitle {
		font-size: 40px;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: #ffffff;
		padding-bottom: 20px;
	}

	.reportSubtitle {
		font-size: 18px;
		font-weight: 600;
		margin: 0;
		text-align: center;
		color: #eeeeee;
		padding-bottom: 20px;
	}

	.reportTextArea {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		padding: 6px 10px;
		transition: 0.2s;
		color: #444444;
		margin-bottom: 10px;
	}

	.reportInfoAndSubmitContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: 20px;
	}

	.reportUserInfo {
		font-size: 10px;
		font-weight: 600;
		margin: 0;
		text-align: center;
		color: #cccccc;
		padding-left: 10px;
	}

	.reportSubtitleContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.Label {
		color: white;
		font-weight: bold;
		font-size: medium;
		white-space: break-spaces;
		height: max-content;
		width: max-content;
		width: 300px;
		padding-bottom: 10px;
		text-align: right;
		padding-top: 10px;
	}
}

@media (max-width: 1000px) {
	.reportContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 80%;
	}

	.reportButton {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		margin-left: 20px;
		padding: 6px 10px;
		transition: 0.2s;
		color: #444444;
	}

	.reportTitle {
		font-size: 40px;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: #ffffff;
		padding-bottom: 5px;
	}

	.reportSubtitle {
		font-size: 20px;
		font-weight: 600;
		margin: 0;
		text-align: center;
		color: #eeeeee;
	}

	.reportTextArea {
		border-radius: 10px;
		border: none;
		font-weight: 600;
		padding: 6px 10px;
		transition: 0.2s;
		color: #444444;
		margin-bottom: 10px;
	}

	.reportTextAreaForm {
		width: 100%;
	}

	.reportInfoAndSubmitContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
		margin-bottom: 20px;
	}

	.reportUserInfo {
		font-size: 10px;
		font-weight: 600;
		margin: 0;
		text-align: center;
		color: #cccccc;
		padding-left: 10px;
	}

	.reportSubtitleContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.Label {
		color: white;
		font-weight: bold;
		font-size: medium;
		white-space: break-spaces;
		height: max-content;
		width: max-content;
		width: 300px;
		padding-bottom: 10px;
		text-align: right;
		padding-top: 10px;
	}
}
