.SignIn {
	background-image: url('/background.png');
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	display: flex;
	justify-content: center;
}

.Card {
	display: flex;
	width: auto;
	border-radius: 30px;
	padding: 1.5rem;
	justify-content: center;
	align-items: center;
	background-color: #00000099;
}

.Logo {
	width: 300px;
	margin-top: 10px;
	margin-bottom: -60px;
}

.Title {
	font-size: 2.5rem;
	font-weight: 550;
	margin-bottom: 1rem;
}

.ButtonStyle {
	border-radius: 10px;
	background-color: rgba(100, 100, 100, 0.3);
	border-color: gray;
}

.ButtonStyle:hover {
	background-color: rgba(100, 100, 100, 0.5);
	border-color: gray;
}

/* add media query for mobile screen */
@media (max-width: 768px) {
	.Logo {
		margin-top: 30px;
		margin-bottom: -30px;
		width: 250px;
	}
	.Title {
		font-size: 1.5rem;
	}
}
